html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  @include fontFace_Inter();
  font-weight: 400;
}

body {
  margin: 0;
  color: $darkPurple;
  background-color: $white;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.scroll-disabled {
  overflow: hidden;
}
