$base: rem(4px);

$containerMaxWidth: 1232px;
$containerIndent: 20px;

$primaryRadius: 8px;
$primaryAnimation: 0.3s ease-in-out;

$black: #000;
$white: #fff;
$purple: #624de3;
$purpleText: #4c4767;
$green: #19c787;
$yellow: #ff9f1c;
$darkPurple: #100a30;
$lightGray: #f8f8f9;
$lightPurple: #e8e5fb;
$lightGreen: #e8faf3;
$lightYellow: #fff5e1;
$lightRed: #fdebee;
$lightBlue: #e6f3ff;
