.header {
  background-color: $white;

  &__container {
    display: flex;
    padding: {
      top: $base * 5;
      bottom: $base * 5;
    }
  }

  &__top {
    display: flex;
    align-items: center;
  }

  &__menu {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  &__nav {
    margin-right: $base * 5;
  }

  @include minitablet(min) {
    &-burger {
      display: none;
    }
  }

  @include minitablet(max) {
    &__container {
      padding: 0;
    }

    &__top {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
      justify-content: space-between;
      padding: $base * 8 $containerIndent;
      width: 100%;
      background-color: $white;
    }

    &__menu {
      overflow-y: auto;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 5;
      flex-direction: column;
      padding: 120px 20px 20px;
      background-color: $white;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-100%);
      transition: all $primaryAnimation;
      transition-property: opacity, visibility, transform;

      @media (min-height: 400px) {
        justify-content: center;
      }
    }

    &__nav {
      margin: 0 0 $base * 10;
    }

    .nav {
      &__list {
        flex-direction: column;
      }

      &__item {
        &:not(:last-child) {
          margin: 0 0 $base * 5;
        }
      }

      &__link {
        @include body(2);
      }
    }

    &.is-open {
      .header__menu {
        opacity: 1;
        visibility: visible;
        transform: translateY(0%);
      }
    }
  }
}
