.footer {
  background-color: $lightGray;

  &__container {
    display: flex;
    justify-content: space-between;
    padding: {
      top: $base * 14;
      bottom: $base * 15;
    }
  }

  &__content {
    max-width: $base * 53;
  }

  &__logo {
    margin-bottom: $base * 6;
  }

  &__text {
    margin: 0 0 $base * 6;
    @include body(1);
    color: $purpleText;
  }

  @include minitablet(max) {
    &__container {
      flex-wrap: wrap;
      gap: $base * 5;

      > * {
        flex-basis: calc(50% - #{$containerIndent});
      }
    }

    &__content {
      max-width: 100%;
    }
  }

  @include mobile(max) {
    &__container {
      flex-direction: column;
      padding: {
        top: $base * 10;
        bottom: $base * 10;
      }

      > * {
        flex-basis: auto;
      }
    }
  }
}
